<li class="influence-list-show" value="<%= influence.id %>">
  <%= influence.name %>

  <form action="<%= user_user_influence_url(
          user,
          UserInfluence.where(
            user_id: user.id,
            influence_id: influence.id)[0]) %>"
        id="influence-delete"
        method="post"
        data-remote="true">
    <input
       name="_method"
       type="hidden"
       value="delete">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input type="submit" value="Delete">
  </form>
</li>

<style>

.influence-list-show {
}

.influence-list-show > form {
  display: inline;
}

.influence-list-show > form input[type="submit"] {
  font-size: 14px;
  padding: 2px;
  background: #5B605F;
  margin: 5px auto;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.influence-list-show > form input[type="submit"]:hover {
  background-color: #FF6600;
  border: 2px solid #E3E3E3;
  color: #E3E3E3;
}
</style>