<div class="sign-in group">
  <h1>For the artist who loves anarchy,</h1>

  <form action="<%= session_url %>" method="post" class="sign-in-form">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

    <input id="emailInput" name="user[email]" type="text" placeholder="Email">
    <input id="passwordInput" name="user[password]" type="password" placeholder="Password">
    <input id="signInSubmit" type="submit" value="Sign in">
  </form>
</div>
<% if flash[:error] %>
	<%= flash[:error] %>
<% end %>