<form
  action="<%= group_group_user_url(pending_group, GroupUser.where(
              group_id: pending_group.id,
              user_id: user.id)[0]) %>"
  class="button_to approve-group"
  method="post"
  data-remote="true">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Approve">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>
<form
action="<%= group_group_user_url(pending_group, GroupUser.where(
            group_id: pending_group.id,
            user_id: user.id)[0]) %>"
  class="button_to deny-group"
  method="post"
  data-remote="true">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Deny">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<script>

$(document).ready(function(){

  $(".approve-group").on("ajax:success", function(event, data){
    $approveDeny = $($(event.target).parent()[0])
    $approveDeny.html("<span class='accept-deny-resp'>Approved</span>")
  });

  $(".deny-group").on("ajax:success", function(event, data){
    $approveDeny = $($(event.target).parent()[0])
    $approveDeny.html("<span class='accept-deny-resp'>Denied</span>")
  });

});

</script>

<style>

.deny-group input[type="submit"] {
  font-size: 12px;
  border: 1px solid #E3E3E3;
  background: #464646;
  padding: 2px;
  color: #E3E3E3;
}

.deny-group input[type="submit"]:hover {
  background: #FF6600;
  color: #E3E3E3;
}

.approve-group input[type="submit"] {
  font-size: 12px;
  border: 1px solid #E3E3E3;
  background: #464646;
  padding: 2px;
  color: #E3E3E3;
}

.approve-group input[type="submit"]:hover {
  background: #FF6600;
  color: #E3E3E3;
}

.accept-deny-resp {
  font-size: 12px;
  border: 1px solid #E3E3E3;
  background: #464646;
  padding: 2px;
  color: #E3E3E3;
}

</style>