<form
  action="<%= group_group_user_url(pending_group, GroupUser.where(
              group_id: pending_group.id,
              user_id: user.id)[0]) %>"
  class="button_to approve-group"
  method="post"
  data-remote="true">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" id="approveGroup" value="Approve">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>
<form
action="<%= group_group_user_url(pending_group, GroupUser.where(
            group_id: pending_group.id,
            user_id: user.id)[0]) %>"
  class="button_to deny-group"
  method="post"
  data-remote="true">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" id="denyGroup" value="Deny">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<script>

$(document).ready(function(){

  $(".approve-group").on("ajax:success", function(event, data){
    $approveDeny = $($(event.target).parent()[0])
    $approveDeny.html("<span class='accept-deny-resp'>Approved</span>")
  });

  $(".deny-group").on("ajax:success", function(event, data){
    $approveDeny = $($(event.target).parent()[0])
    $approveDeny.html("<span class='accept-deny-resp'>Denied</span>")
  });

});

</script>

<style>

#approveGroup {
	display: inline;
	float: right;
	margin-top: 10px;
	background: #aedaff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #fff;
	width: 65px;
	font-size: 10pt;
	position: relative;
	top: -55px;
}

#denyGroup {
	display: inline;
	float: right;
	margin-top: 0;
	background: #ffacad;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #fff;
	font-size: 10pt;
	width: 65px;
	position: relative;
	top: -18px;
	left: 65px;
}
</style>