<li>
  <div class="comment-info">
    <div class="comment-artist-name"><%= image_tag comment.user.profile_picture.url(:icon) %> <%= comment.user.artist_name %>
			<div class="like group">
				<%= render "likes/show", type: comment, sub_type: type %>
  		</div>
		</div>
    <p><%= comment.content %></p>
  </div>

</li>