<li>
  <div class="comment-info">
    <div class="comment-artist-name"><%= image_tag comment.user.profile_picture.url(:icon) %> <%= comment.user.artist_name %>
			<div class="like group">
				<%= render "likes/show", type: comment, sub_type: type %>
  		</div>
		</div>
    <p><%= comment.content %></p>
  </div>

</li>

<style>

.comment-artist-name {
	color: #ed9a32;
	position: relative;
	right: 15px;
	border-bottom: 2px solid #ccc;
	vertical-align: bottom;
}

.comment-artist-name > img {
	border: 2px solid #afdaff;
	border-radius: 15px;
	position: relative;
	top: 10px;
	right: 5px;
}

.comment-info > p {
	margin: 7px 7px 3px 7px;
}

.like {
	display: inline;
	vertical-align: bottom;
	float: right;
}

.like > form {
	display: inline;
	vertical-align: bottom;
	position: relative;
	top: 12px;
}
</style>