<li>
  <div class="comment-info">
    <div class="artist-name"><%= comment.user.artist_name %></div>
    <%= comment.content %>
  </div>
  <div class="like">
    <%= render "likes/show", type: comment, sub_type: type %>
  </div>
</li>

<style>

.comment-info {
  width: 268px;
  border: 2px solid #5B605F;
  border-radius: 2px;
  padding: 3px;
  margin: 5px 0;
}

.artist-name {
  color: #FF6600;
}
</style>