<div class="group-attributes group">
	<div class="attribute-section-group group">
		<h3 class="attribute-overview">Description</h3>
		<p><%= group.description %></p>
	</div>
	<a data-toggle="modal" data-target="#groupEditModal">Edit About</a>
</div>


<script>

$(document).ready( function () {

  $(".attribute-overview").click(function () {
    $list = $(this).next();
    $list.toggle();
  });

});

</script>



<style>
.group-attributes {
	width: 500px;
}

.attribute-section-group {
	width: 400px;
	margin: 0 10px;
	float: left;
}

.attribute-overview {
	font-size: 10pt;
	margin: 5px 0;
}

.attribute-list {
	padding-left: 0;
}

.attribute-show {
	font-size: 8pt;
}

</style>