<div class="group-attributes group">
	<div class="attribute-section-group group">
		<h3 class="attribute-overview">Description</h3>
		<p><%= group.description %></p>
	</div>
	<a data-toggle="modal" class="edit-anything-link" data-target="#groupEditModal">Edit About</a>
</div>