<section class="page group">
  <h1 class="new-group">New Group</h1>
  <form action="<%= groups_url %>" method="post" class="group-form">
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">

    <div class="input-field">
      <label class="input-label">Name:</label>
      <input class="input-bar" name="group[name]" type="text">
    </div>

    <div class="input-field">
      <label class="input-label">Description:</label>
      <input type="text" class="input-bar" name="group[description]">
    </div>

    <input type="submit" value="Create Group">
  </form>
</section>

<style>
</style>