<section class="page group">
  <h1 class="new-group">New Group</h1>
  <form action="<%= groups_url %>" method="post" class="group-form">
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">

    <div class="input-field">
      <label class="input-label">Name:</label>
      <input class="input-bar" name="group[name]" type="text">
    </div>

    <div class="input-field">
      <label class="input-label">Description:</label>
      <input type="text" class="input-bar" name="group[description]">
    </div>

    <input type="submit" value="Create Group">
  </form>
</section>

<style>

.new-group {
  font-size: 20px;
  color: #FF6600;
}

.group-form {
  width: 70%;
  display: block;
  margin: 10px auto;
}

.input-field {
  width: 100%;
  display: block;
  float: left;
  padding: 5px 0 10px 0;
  margin: 5px 0 10px 0;
  border-bottom: 2px solid #FF6600;;
}

.input-label {
  float: left;
  font-size: 20px;
  vertical-align: bottom;
  padding: 7px 0 0 0;
  color: #FF6600;
}

.input-bar {
  float: right;
  width: 400px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 20px;
  color: #E3E3E3;
}

.group-form input[type="submit"] {
  display: block;
  padding: 5px;
  margin: 10px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.group-form input[type="submit"]:hover {
  background: #464646;
}

</style>