<div class="user-attributes group">
	<div class="attribute-section group">
		<h3 class="attribute-overview">Media</h3>
		<ul class="attribute-list group">
		  <% user.media.each do |medium| %>
		    <li class="attribute-show">
		      <%= medium.name %>
		    </li>
		  <% end %>
		</ul>
	</div>

	<div class="attribute-section group">
		<h3 class="attribute-overview">Themes</h3>
		<ul class="attribute-list group">
		  <% user.themes.each do |theme| %>
		    <li class="attribute-show">
		      <%= theme.name %>
		    </li>
		  <% end %>
		</ul>
	</div>

	<div class="attribute-section group">
		<h3 class="attribute-overview">Influences</h3>
		<ul class="attribute-list group">
		  <% user.influences.each do |influence| %>
		    <li class="attribute-show">
		      <%= influence.name %>
		    </li>
		  <% end %>
		</ul>
	</div>
	<a data-toggle="modal" class="edit-anything-link" data-target="#userEditModal">Edit About</a>
</div>