<form action="<%= user_friendships_url(user) %>"
      id="add-friend"
      method="post"
      data-remote="true">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input type="submit" value="Add Friend">
</form>

<script>

$(document).ready(function(){

  $("#add-friend").on("ajax:success", function(event, data){
    console.log("here");
    console.log(data);
    $(".friend-status").html("<p>Friend Request Sent</p>");
  });

});

</script>

<style>

#add-friend input[type="submit"] {
  display: block;
  padding: 5px;
  margin: 10px 0;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

#add-friend input[type="submit"]:hover {
  background: #464646;
}

</style>