<ul class="media-list">
  <% user.media.each do |medium| %>
    <%= render "user_media/um", medium: medium, user: user %>
  <% end %>
</ul>

<form action="<%= user_user_media_url(user) %>"
  method="post"
  id="new-med"
  data-remote="true">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input
     id="medium_name"
     name="medium[name]"
     placeholder="New Medium"
     type="text">
  <input type="submit" value="Create">
</form>

<script>

$(document).ready(function(){

  $(".media-list").on("ajax:success", "#medium-delete", function(event, data){
    $($(event.target).parent()[0]).remove()
  });

  $("#new-med").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".media-list").append(data);
    $form[0].reset();
  });

});

</script>

<style>
</style>