<ul class="themes-list">
  <% user.themes.each do |theme| %>
    <%= render "user_themes/ut", theme: theme, user: user %>
  <% end %>
</ul>

<form
  action="<%= user_user_themes_url(user) %>"
  method="post"
  id="new-theme"
  data-remote="true">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="theme_name">New Theme</label>
  <input
     id="theme_name"
     name="theme[name]"
     type="text">
  <input type="submit" value="Create">
</form>

<script>

$(document).ready(function(){

  $(".themes-list").on("ajax:success", "#theme-delete", function(event, data){
    $($(event.target).parent()[0]).remove()
  });


  $("#new-theme").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".themes-list").append(data);
    $form[0].reset();
  });

});

</script>
