<ul class="themes-list">
  <% user.themes.each do |theme| %>
    <%= render "user_themes/ut", theme: theme, user: user %>
  <% end %>
</ul>

<form
  action="<%= user_user_themes_url(user) %>"
  method="post"
  id="new-theme"
  data-remote="true">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input
     id="theme_name"
     name="theme[name]"
     placeholder="New Theme"
     type="text">
  <input type="submit" value="Create">
</form>

<script>

$(document).ready(function(){

  $(".themes-list").on("ajax:success", "#theme-delete", function(event, data){
    $($(event.target).parent()[0]).remove()
  });


  $("#new-theme").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".themes-list").append(data);
    $form[0].reset();
  });

});

</script>

<style>
#new-theme input[type="text"] {
  display: inline;
  padding: 2px;
  width: 150px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 14px;
  color: #E3E3E3;
}

#new-theme input[type="submit"] {
  display: inline;
  font-size: 14px;
  padding: 2px;
  margin: 10px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

#new-theme input[type="submit"]:hover {
  background-color: #FF6600;
  border: 2px solid #E3E3E3;
  color: #E3E3E3;
}

</style>