<ul class="influences-list">
  <% user.influences.each do |influence| %>
    <%= render "user_influences/ui", user: user, influence: influence %>
  <% end %>
</ul>

<form
  action="<%= user_user_influences_url(user) %>"
  method="post"
  id="new-inf"
  data-remote="true">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="influence_name">New Influence</label>
  <input
     id="influence_name"
     name="influence[name]"
     type="text">
  <input type="submit" value="Create">
</form>

<script>

$(document).ready(function(){

  $(".influences-list").on("ajax:success", "#influence-delete", function(event, data){
    $($(event.target).parent()[0]).remove()
  });


  $("#new-inf").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".influences-list").append(data);
    $form[0].reset();
  });

});

</script>