<ul class="locations-list group">
  <% user.locations.each do |location| %>
    <%= render "user_locations/ul", user: user, location: location %>
  <% end %>
</ul>

<form
  action="<%= user_user_locations_url(user) %>"
  method="post"
  id="new-loc"
	class="new-attr"
  data-remote="true">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input
     id="location_city"
     name="location[city]"
     placeholder="City"
     type="text">
  <input
     id="location_country"
     name="location[country]"
     placeholder="Country"
     type="text">
  <input type="submit" value="Create">
</form>

<script>

$(document).ready(function(){

  $(".locations-list").on("ajax:success", "#location-delete", function(event, data){
    $($(event.target).parent()[0]).remove()
  });


  $("#new-loc").on("ajax:success", function(event, data){
    var $form = $(this);
    $(".locations-list").append(data);
    $form[0].reset();
  });

});

</script>

<style>
</style>