<ul class="events-dropdown">
  <li>
    <%= link_to "Create Event", new_event_url %>
  </li>
  <% (user.events - user.pending_events).each do |event| %>
    <% eu = EventUser.find_by_event_id_and_user_id(event.id, user.id) %>
    <li>
      <%= link_to event.name, event_url(event) %><br>
      <div class="attendance-status">
        <%= render "event_users/status", event: event, user: user %>
      </div>
    </li>
  <% end %>
</ul>

<script>

$(document).ready(function(){

  $(".event-attendance").on("ajax:success", function(event, data) {
    $attendance = $($(event.target).parent()[0])
    $attendance.html(data)
  });

});

</script>

<style>

.events-dropdown > li {
  width: 100%;
  border-bottom: 3px solid #FF6600;
  background: #5B605F;
}

.events-dropdown > li:last-child {
  border-bottom: 0;
}

</style>