<div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog friends-index-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Friends</h4>
      </div>
			<div class="modal-body group">
				<ul class="friends-list group">
				  <% current_user.friends.each do |friend| %>
				    <li class="friend-show group">
		          <%= image_tag friend.profile_picture.url(:standard) %>
		          <p><%= link_to friend.artist_name, user_url(friend) %></p>
				    </li>
				  <% end %>
				</ul>
	    </div><!-- /.modal-body -->
		</div>
  </div>
</div>