<ul class="groups-dropdown">
  <% if is_page_owner?(@user) %>
    <li>
      <%= link_to "Create Group", new_group_url %>
    </li>
  <% end %>
  <% user.approved_groups.each do |group| %>
    <li>
      <%= link_to group.name, group_url(group) %>
    </li>
  <% end %>
</ul>

<style>

</style>