<ul class="pending-dropdown">
  <li>
    Friends
    <ul class="pending-friends-side-drop group">
      <% user.pending_friends.each do |pending_friend| %>
        <li>
          <%= pending_friend.artist_name %>
          <div class="approve-deny-friend">
          <%= render "friendships/approve_deny",
                user: user,
                pending_friend: pending_friend %>
          </div>
        </li>
      <% end %>
    </ul>
  </li>

  <li>
    Groups
    <ul class="pending-groups-side-drop group">
      <% user.pending_groups.each do |pending_group| %>
        <li>
          <%= pending_group.name %>
          <div class="approve-deny-group">
          <%= render "group_users/approve_deny",
                user: user,
                pending_group: pending_group %>
          </div>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

<style>

.pending-friends-side-drop, .pending-groups-side-drop {
  display: none;
  position: absolute;
  left: 200px;
  padding-top: 6px;
  width: 200px;
  border-bottom: 3px solid #FF6600;
  background: #5B605F;
}

.pending-dropdown > li {
  width: 100%;
  float: right;
  border-bottom: 3px solid #FF6600;
  background: #5B605F;
}

.pending-dropdown > li:last-child {
  border-bottom: 0;
}

.pending-dropdown > li:hover > .pending-friends-side-drop {
  display: block;
}

.pending-dropdown > li:hover > .pending-groups-side-drop {
  display: block;
}

</style>