<div class="modal fade" id="pendingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Pending Requests</h4>
      </div>
			<div class="modal-body">
				<ul class="pending-list">
				  <li>
				    Friends
				    <ul class="pending-friends-side-drop group">
				      <% current_user.pending_friends.each do |pending_friend| %>
				        <li>
				          <%= pending_friend.artist_name %>
				          <div class="approve-deny-friend">
				            <%= render "friendships/approve_deny",
				                  user: current_user,
				                  pending_friend: pending_friend %>
				          </div>
				        </li>
				      <% end %>
				    </ul>
				  </li>

				  <li>
				    Groups
				    <ul class="pending-groups-side-drop group">
				      <% current_user.pending_groups.each do |pending_group| %>
				        <li>
				          <%= pending_group.name %>
				          <div class="approve-deny-group">
				            <%= render "group_users/approve_deny",
				                  user: current_user,
				                  pending_group: pending_group %>
				          </div>
				        </li>
				      <% end %>
				    </ul>
				  </li>
				</ul>
	    </div><!-- /.modal-body -->
		</div>
  </div>
</div>