<form action="<%= user_friendship_url(user, Friendship.where(
        out_friend_id: user.id,
        in_friend_id: current_user.id)[0]) %>"
      id="remove-friend"
      method="post"
      data-remote="true">
  <input
     name="_method"
     type="hidden"
     value="delete">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input type="submit" id="removeSubmit" value="Remove Friend">
</form>

<script>

$(document).ready(function() {

  $("#remove-friend").on("ajax:success", function(event, data){
		console.log("HERE");
		console.log(data);
    $(".friend-status").html(data);
  });

});

</script>

<style>
</style>