<section class="page">
<h1 class="all-artists">All Artists</h1>
<ul class="artist-list group">
<% @users.each do |user| %>
<li>
  <%= image_tag user.profile_picture.url %>
  <%= link_to user.artist_name, user_url(user) %>
</li>
<% end %>
</ul>
<div class="map">
<h2>The Map of Maps</h2>
<div id="map-canvas">
</div>
<%= render "map_of_maps", photos: @photos %>
</div>
</section>

<script>
$(document).ready(function() {
  $(".all-artists").click(function (){
    $artists = $(this).next();
    $artists.toggle();
  });

});
</script>

<style>

.all-artists {
  font-size: 20px;
  color: #FF6600;
}

.artist-list {
  display: none;
}

.artist-list > li {
  float: left;
  margin: 5px;
  padding: 3px;
  border: 2px solid #FF6600;
}

.artist-list > li:hover {
  background: #FF6600;
}

.artist-list > li:hover > a {
  color: #E3E3E3;
}

.map {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #FF6600;
  border-radius: 2px;
  font-weight: bold;
}

.map h2 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

#map-canvas {
  margin: auto;
}

.artist-list > li > img {
  width: 30px;
  height: 30px;
}
</style>