<div class="modal fade" id="eventCreateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog event-new-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Event</h4>
      </div>
				<div class="modal-body group">
					<form action="<%= events_url %>" method="post" class="event-form">
				    <input
				      name="authenticity_token"
				      type="hidden"
				      value="<%= form_authenticity_token %>">
							
			      <label class="event-input-label">Title
				      <input
				        class="input-bar"
				        name="event[name]"
				        type="text">
						</label>
			      <label class="event-input-label">Description
				      <input
				        type="text"
				        class="input-bar"
				        name="event[description]"
						</label>

				    <label class="event-input-label">Where
				      <input
				        type="text"
				        class="input-bar"
				        name="event[address]">
						</label>

			      <label class="event-input-label">When
				      <input
				        type="date"
				        class="input-date"
				        name="event[date]">
				      <input
				        type="time"
				        class="input-time"
				        name="event[time]">
						</label>
				    <input type="submit" id="createEvent" value="Create Event">
				  </form>
				</div>
			</div>
		</div>
  </div>
</div>
