<section class="page group">
  <h1 class="new-event">New Event</h1>
  <form action="<%= events_url %>" method="post" class="event-form">
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">

    <div class="input-field">
      <label class="input-label">Name:</label>
      <input class="input-bar" name="event[name]" type="text">
    </div>

    <div class="input-field">
      <label class="input-label">Description:</label>
      <input type="text" class="input-bar" name="event[description]">
    </div>

    <div class="input-field">
      <label class="input-label">Location:</label>
      <input type="text" class="input-bar" name="event[address]">
    </div>

    <div class="input-field">
      <label class="input-label">Date:</label>
      <input type="date" class="input-date" name="event[date]">
    </div>

    <div class="input-field">
      <label class="input-label">Time</label>
      <input type="time" class="input-time" name="event[time]">
    </div>

    <input type="submit" value="Create Event">
  </form>
</section>