<div class="modal fade" id="addPhotoAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog album-add-photo-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Photo</h4>
      </div>
			<div class="modal-body">
			  <form
			    action="<%= user_photos_url %>"
			    class="add-photo group"
			    method="post"
			    enctype="multipart/form-data"
			    id="new-photo">
				    <input
				      type="hidden"
				      name="authenticity_token"
				      value="<%= form_authenticity_token %>">
						<label class="photo-input-label">File
							  <input type="file" name="photo[picture]">
							</label>
				    <label class="photo-input-label">Location
					    <input
					      type="text"
					      name="photo[location]">
						</label>
				    <label class="photo-input-label">Description
					    <input
					      type="text"
					      name="photo[description]">
						</label>
				    <input
				      type="hidden"
				      name="photo[album_id]"
				      value="<%= @album.id %>">
				    <input type="submit" id="createAlbumPhoto" value="Add Photo">
			  </form>
			</div>
		</div>
  </div>
</div>

<script>
</script>

<style>
.album-add-photo-box {
	width: 400px;
}

.album-add-photo-box > .modal-content {
	border: 2px solid #ed9a32;
	border-radius: 0;
}

.photo-input-label {
	width: 100%;
}

.photo-input-label > input {
	width: 250px;
	float: right;
	background: transparent;
	border: 2px solid #eee;
}

#createAlbumPhoto {
	display: inline;
	float: right;
	margin-top: 10px;
	background: #aedaff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #fff;
	font-size: 10pt;
	padding: 2px 15px;
}

input[name="photo[picture]"] {
	width: 250px;
	float: right;
	border: 0;
	margin-bottom: 10px;
}

</style>