<form
  action="<%= user_album_url(user, album) %>"
  method="post"
  class="edit-album-info"
  data-remote="true">

  <input
     name="_method"
     type="hidden"
     value="put">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <div class="input-field">
    <label class="input-label">Title</label>
    <input type="text" class="input-bar" name="album[title]" value="<%= album.title %>">
  </div>
  <div class="input-field">
    <label class="input-label">Description</label>
    <input type="text" class="input-bar" name="album[description]" value="<%= album.description %>">
  </div>
  <input type="submit" value="Save Changes">
</form>

<script>

$(document).ready(function(){

  $(".edit-album-info").on("ajax:success", function(event, data){
    var $editInfo = $($(event.target).parent()[0])
    $editInfo.html(data);
    $editInfo.append("<span>Saved</span>")
  });

});

</script>