<form
  action="<%= user_photo_url(user, photo) %>"
  method="post"
  class="edit-photo-info"
  data-remote="true">
     <input name="_method"
            type="hidden"
            value="put">

     <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

     <label>Location (if applicable)</label>
     <input type="text" name="photo[location]" value="<%= photo.location %>">
     <br>
     <label>Description</label><br>
     <textarea name="photo[description]" rows="4" cols="30"><%= photo.description %></textarea>
     <br>
     <input type="submit" value="Save Changes">
</form>