<div class="modal fade" id="albumIndexModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog album-index-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Albums</h4>
      </div>
			<div class="modal-body group">
				<ul class="albums-list-modal group">
				  <% @user.albums.each do |album| %>
				    <li class="group">
				      <h3><%= link_to album.title, user_album_url(@user, album) %></h3>
							<ul class="album-index-photos group">
				        <% for i in 0..3 %>
				          <li class="album-index-image">
				            <%= image_tag album.photos[i].picture.url(:standard) %>
				          </li>
				        <% end %>
							</ul>
				    </li>
				  <% end %>
				</ul>
	    </div>
		</div>
  </div>
</div>

<style>

.album-index-box {
	width: 500px;
}

.album-index-box > .modal-content {
	border: 2px solid #ed9a32;
	border-radius: 0;
}

.albums-list-modal {
	padding: 0;
}

.albums-list-modal > li > h3 {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}


.albums-list-modal > li > h3 > a {
	color: #ed9a32;
	font-size: 16pt;
}

.albums-list-modal > li > h3 > a:hover {
	color: #aedaff;
	text-decoration: none;
}

.albums-list-modal > li {
}

.album-index-photos {
	clear: both;
	padding-left: 0;
}

.album-index-photos > li {
	float: left;
}

.album-index-photos > li > img {
	width: 100px;
	height: 100px;
	border: 2px solid #ccc;
	margin: 7px;
}
</style>