<li class="photo-show group">
  <%= image_tag photo.picture.url(:standard) %>
  <div class="edit-album-photo-info group">
    <%= render "albums/edit_photo_show_info", user: user, photo: photo %>
  </div>
</li>

<script>

$(document).ready(function(){

  $(".edit-photo-info-form").on("ajax:success", function(event, data){
    var $editInfo = $($(event.target).parent()[0]);
    $editInfo.html(data);
    $editInfo.append("<p class='saved'>Saved</p>");
  });

});

</script>

<style>
</style>