<li class="photo-show group">
  <%= image_tag photo.picture.url(:standard) %>
  <div class="edit-album-photo-info group">
    <%= render "albums/edit_photo_show_info", user: user, photo: photo %>
  </div>

</li>

<script>

$(document).ready(function(){

  $(".edit-photo-info-form").on("ajax:success", function(event, data){
    var $editInfo = $($(event.target).parent()[0])
    $editInfo.html(data);
    $editInfo.append("<p class='saved'>Saved</p>")
  });

});

</script>

<style>

.photo-show {
  width: 70%;
  border: 2px solid #5B605F;
  border-radius: 2px;
  padding: 5px;
  margin: 10px auto;
}

.photo-show > img {
  width: 200px;
  height: 200px;
  border: 2px solid #FF6600;
}

.edit-album-photo-info {
  float: right;
  display: inline;
}

.edit-album-photo-info-form {
  display: inline;
}

.edit-album-photo-info-form input[type="submit"] {
  font-size: 14px;
  display: inline;
  padding: 5px;
  margin: 10px 0;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
  float: left;
}

.edit-album-photo-info-form input[type="submit"]:hover {
  border: 2px solid #E3E3E3;
  background-color: #FF6600;
  color: #E3E3E3;
}

.photo-delete {
  display: inline;
  float: left;
}

.photo-delete input[type="submit"] {
  font-size: 14px;
  padding: 5px;
  margin: 10px 0;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.photo-delete input[type="submit"]:hover {
  border: 2px solid #E3E3E3;
  background-color: #FF6600;
  color: #E3E3E3;
}

.input-field-small {
  display: block;
  padding: 5px 0 10px 0;
  margin: 5px 0 10px 0;
}

.input-label-small {
  display: block;
  font-size: 14px;
  vertical-align: bottom;
  padding: 7px 0 0 0;
  color: #FF6600;
}

.input-bar-small {
  float: right;
  width: 400px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 20px;
  color: #E3E3E3;
}
</style>