<li class="medium-list-show group" value="<%= medium.id %>">
  <%= medium.name %>
  <form action="<%= user_user_medium_url(
          user,
          UserMedium.where(
            user_id: user.id,
            medium_id: medium.id)[0]) %>"
        id="medium-delete"
        method="post"
        data-remote="true">
    <input
       name="_method"
       type="hidden"
       value="delete">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input type="submit" value="Delete">
  </form>
</li>

<style>
</style>
