<section class="page">

  <h1 class="edit-photo">Edit Photo</h1>

  <div class="image">
    <%= image_tag @photo.picture.url(:show) %><br>
  </div>
  <%= render "photos/edit_photo_info", user: @user, photo: @photo %>

  <%= button_to "Delete Photo", user_photo_url(@photo), method: :delete %>
</section>