<h1>Edit Photo</h1>

<%= image_tag @photo.picture.url(:standard) %><br>

<%= render "photos/edit_photo_info", photo: @photo %>

<%= button_to "Delete Photo", user_photo_url(@photo), method: :delete %>
