<h1 class="photos-header">Photos</h1>
<ul class="photos-list group">
<% @photos.each do |photo| %>
  <li>
    <a href="<%= user_photo_url(@user, photo) %>">
      <%= image_tag photo.picture.url(:standard) %>
    </a>
  </li>
<% end %>
</ul>