<section class="page">
  <h1 class="photos-header">Photos</h1>
  <% if is_page_owner?(@user) %>
    <%= render "lone_upload", user: @user %>
  <% end %>
  <ul class="photos-list group">
  <% @photos.each do |photo| %>
    <li>
      <a href="<%= user_photo_url(@user, photo) %>">
        <%= image_tag photo.picture.url(:standard) %>
      </a>
    </li>
  <% end %>
  </ul>
</section>

<style>

.photos-header {
  font-size: 20px;
  color: #FF6600;
}

.lone-upload {
  width: 55%;
  padding: 10px;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.lone-upload input[type="submit"] {
  display: inline;
  float: left;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background: #464646;
  padding: 1px;
  margin: 0 10px;
  color: #E3E3E3;
}

.lone-upload input[type="submit"]:hover {
  background: #5B605F;
}

.photos-list {
  display: block;
  margin: 10px auto;
}

.photos-list > li {
  display: block;
  float: left;
  margin: 0 10px;
  border: 2px solid #FF6600;
}

</style>