<form
  action="<%= posts_url %>"
  class="button_to post-form group"
  method="post"
  data-remote="true">

	<%= image_tag current_user.profile_picture.url(:standard) %>
	<div class="post-options group">
		<select class="font-select" name="post[font]">
			<options>Basic</option>
		  <option value="Comic Sans MS">Comic Sans</option>
		  <option value="Wingdings">Wingdings</option>
		  <option value="Lucida Console">Console</option>
		  <option value="Playbill">Playbill</option>
		</select>
		<select class="color-select" name="post[color]">
			<options>Basic</option>
		  <option value="#1950A8">Blue</option>
		  <option value="#A023D9">Purple</option>
		  <option value="#97DB53">Green</option>
		  <option value="#D6312D">Red</option>
		</select>
	</div>
	<div class="post-enter">
	  <input type="text" class="post-input" name="post[content]" placeholder="Write New Post...">
	  <input name="post[wall_id]"
	         type="hidden"
	         value="<%= owner.wall.id %>">
	  <input type="submit" value="Post">
	  <input name="authenticity_token"
	         type="hidden"
	         value="<%= form_authenticity_token %>">
	</div>
</form>