<section class="page">

  <h1 class="news-feed">News Feed</h1>

  <ul class="feed-list">
  <% @news.each do |n| %>
    <% if n.class.to_s == "Post" %>
      <%= render "post_show", post: n %>
    <% elsif n.class.to_s == "Album" %>
      <%= render "album_show", album: n %>
    <% elsif n.class.to_s == "Photo" %>
      <%= render "photo_show", photo: n %>
    <% end %>
  <% end %>
  </ul>

</section>

<script>

$(document).ready(function(){

  $("#status-form").on("ajax:success", function(event, data){
    $(".feed-list").prepend(data);
  });

});

</script>

<style>

.news-feed {
  text-align: center;
  font-size: 30px;
  color: #FF6600;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #FF6600;
}

</style>